<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoldInfo-Assignment</title>
</head>
<body>
    <%- include('../component/header.ejs') %>
    <%- include('../component/showtabledata.ejs') %>
    <%- include('../component/footer.ejs') %>
</body>
</html>